extensions:
    codeception: Arachne\Codeception\DI\CodeceptionExtension
    nette.application: Nette\Bridges\ApplicationDI\ApplicationExtension
    nette.http: Nette\Bridges\HttpDI\HttpExtension
    nette.latte: Nette\Bridges\ApplicationDI\LatteExtension
    enumag.application: Enumag\Application\DI\ApplicationExtension

services:
    routerFactory: Tests\Integration\Fixtures\RouterFactory
    router: @routerFactory::create()

nette.application:
    catchExceptions: null
    mapping:
        *: Tests\Integration\Fixtures\*Presenter
