extensions:
    codeception: Arachne\Codeception\DI\HttpExtension
    nette.application: Nette\Bridges\ApplicationDI\ApplicationExtension(%debugMode%, [], %tempDir%)
    nette.http: Nette\Bridges\HttpDI\HttpExtension
    nette.latte: Nette\Bridges\ApplicationDI\LatteExtension(%tempDir%, %debugMode%)

services:
    routerFactory: Tests\Integration\Fixtures\RouterFactory
    router: @routerFactory::create()

nette.application:
    catchExceptions: true
    mapping:
        *: Tests\Integration\Fixtures\*Presenter
